@page
@using CAREier.Interfaces
@using CAREier.Helpers
@using CAREier.Models
@model CAREier.Pages.CatalogModel
@inject IHandler<Product> Handler
@{
}


<h1>List of Products</h1>

<p>
    <a asp-page="CreateProduct">Create New Product</a>
</p>


<p>number of products in the catalog: @Model.Products.Count</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>price</th>
            <th>weight</th>
            <th>tags</th>
            <th>picture</th>
            <th>Functions</th>

        </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.Products.Count; i++)
    {
        <tr>
            <td> @Model.Products[i].Name</td>
            <td> @Model.Products[i].Price.PriceDKK</td>
            <td> @Model.Products[i].Weight.WeightKilo</td>
            <td> @Model.FormalizeTags(Model.Products[i].Tags)</td>
            <td> @Model.Products[i].Picture</td>
            <td> <a asp-page="Update" asp-route-id="@i">update product</a> <a asp-page="temp" asp-route-id="@i">add to cart</a></td>
            
        </tr>

    }
    </tbody>
</table>