@page
@using CAREier.Interfaces
@model CAREier.Pages.CatalogModel
@inject IHandler<IProduct> Handler
@{
}


<h1>List of Products</h1>

<p>
    <a asp-page="CreateProduct">Create New Product</a>
</p>


<p>number of products in the catalog: @Model.Products.Count</p>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>price</th>
        <th>weight</th>
        <th>tags</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td> @item.Name</td>
            <td> @item.Price.PriceDKK</td>
            <td> @item.Weight.WeightKilo</td>
            <td> @Model.FormalizeTags(item.Tags)</td>
            <td><a asp-page="EditEvent" asp-route-id="@item.index">update product</a></td>
            <td><a asp-page="EditEvent" asp-route-id="@item.Name">add to cart</a></td>
        </tr>

    }
    </tbody>
</table>