@page
@model CAREier.Pages.Catalog.CreateModel
@{
}


<h1>Create a new product</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.NewProduct.Name" class="control-label"></label>
                <input asp-for="@Model.NewProduct.Name" class="form-control" />
                <span asp-validation-for="NewProduct.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.NewProduct.Price.PriceDKK" class="control-label"></label>
                <input asp-for="@Model.NewProduct.Price.PriceDKK" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.NewProduct.Weight.WeightKilo" class="control-label"></label>
                <input asp-for="@Model.NewProduct.Weight.WeightKilo" class="form-control" />
                <span asp-validation-for="NewProduct.Weight.WeightKilo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.NewProduct.Tags.body" class="control-label"></label>
                <input asp-for="@Model.NewProduct.Tags.body" class="form-control" />
                <span asp-validation-for="NewProduct.Tags.body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.NewProduct.Picture" class="control-label"></label>
                <input asp-for="@Model.NewProduct.Picture" class="form-control" />
                <span asp-validation-for="NewProduct.Picture" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="submit" value="create" class="btn btn-primary" />
            </div>
            <div>
                <a asp-page="ProductCatalog">Back to list</a>
            </div>
        </form>



    </div>
</div>