@page
@using CAREier.Interfaces
@using CAREier.Helpers
@using CAREier.Models
@model CAREier.Pages.OrderCatalogModel
@inject ICRUD<Order> Handler
@{
}
<h1>List of Orders</h1>

<p>
    <a asp-page="Create">Create New Order</a>
</p>

<p>number of products in the catalog: @Model.Orders.Count</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>price</th>
            <th>weight</th>
            <th>tags</th>
            <th>picture</th>
            <th>Functions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Order ord in Model.Orders)
        {
        <tr>
            <td> @Model.ord.OrderID</td>
            <td> @Model.ord.Buyer</td>
            <td> @Model.ord.MyStore</td>
            <td> @Model.ord.TotalPrice.PriceDKK</td>
            <td> @Model.ord.TotalWeight.WeightKilo</td>
            <td> <a asp-page="OrderUpdate" asp-route-id="@Model.ord.OrderID">Update product</a> <a asp-page="OrderDelete" asp-route-id="@Model.ord.OrderID">Delete</a> <a asp-page="DetailedOrder" asp-route-id="@Model.ord.OrderID">View</a> </td>
        </tr>

        }
    </tbody>
</table>