@page
@model CAREier.Pages.ShopCardModel
@{
    ViewData["Title"] = "ShoppingCart";
}

<div class="flex-container">

    <div class="ItemList">
        <h2>List of items</h2>
        <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Taken</th>
                    <th>Weight</th>
                    <th class="text-right">Price</th>
                </tr>
                @foreach (var Prod in Model.Products)
                {
                    <tr>
                        <td> <img style="width: 70px; height: auto" src="~/images/@Prod.Picture" alt="picture"></td>
                        <td> @Prod.Name</td>
                        <td> @Prod.Price.PriceDKK</td>
                        <td> @Prod.Weight.WeightKilo</td>
                        <td>
                            <form method="post">
                                <p>
                                    <button type="submit" asp-page-handler="ByItem" class="btn btn-success">By Item</button>
                                </p>
                            </form>
                       

                    </tr>

                }
                </thead>
        </table>
    </div>
    <div class="shop-page-container">
        <div class="headfield">
            <form method="post">
                <h2>
                    <input type="text" />
                    <input type="submit" value="Search" />
                </h2>
            </form>
        </div>
        <div class="bodyfield">
            <div class="Mainfield">
                <p>some more stuff</p>
            </div>
            <div class="LeftSidfield">
                <div class="rounded_box">

                    <table>
                        <thead>
                            <tr>
                                <th>Buyer</th>
                                <th>Taken</th>
                                <th>Image</th>
                                <th class="text-right">Price</th>
                            </tr>
                            @if (Model.CurrentBuyer.HasOrders)
                            {
                                @foreach (var Ord in @Model.SortedOrderList())
                                {

                                    <tr>
                                        <td> @Ord.OrderID</td>
                                        <td> @Ord.TotalPrice.PriceDKK</td>
                                        <td> @Ord.TotalWeight.WeightKilo</td>
                                        <td> @Ord.CreationDate</td>
                                    </tr>

                                }
                            }
                        </thead>
                    </table>
                </div>
                <div class="text-center">
                    <a asp-page="/Books/AllBooks" class="btn btn-primary">Continue shopping</a>
                    <a asp-page="/Orders/CheckOut" class="btn btn-primary">Check_Out</a>
                </div>
            </div>
        </div>
    </div>
</div>


